/* Add a black background color to the top navigation */
.topnav {
  background-color: #19B092;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 0; /* Adjust the top and bottom padding as needed */
    text-decoration: none;
    font-size: 17px;
    width: 50%; /* Set a fixed width for both links */
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #6b6b6b;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FA9D00;
  color: white;
}